{%load static%}
<html>
    
    <head>
        {%block title%}
        {%endblock%}
        <meta charset="utf-8">
       
        <title>
            Blogsite
        </title>
        
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- Medium editor -->
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
        <!-- static css -->
        <link rel="stylesheet" href="{%static 'basicapp.css'%}">
    </head>

    <body style='overflow-y:scroll;background-color:#123'>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:grey;">
    
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item"><a style = 'color:white;'class=" navbar-brand" href=""> Home </a></li>
                    <li class="nav-item"><a style = 'color:white;' class=' nav-link active' href=""> Admin </a></li>
                    <li class="nav-item"><a style = 'color:white;' class='nav-link active' href="">Blog</a></li>
                    {% if user.is_authenticated%}
                    <li class="nav-item"><a style = 'color:white;'class='nav-link active' href="">MyFollowing</a></li>
                    <li class="nav-item"><a style = 'color:white;' class='nav-link active' href="">MyFans</a></li>
                     <li class="nav-item"><a style = 'color:white;' class='nav-link active' href="">Group</a></li>
                    {%endif%}

                </ul>
               
                {% if user.is_authenticated%}
                    <ul class="navbar-nav navbar-right">
                 
                    <li class="nav-item"><a style = 'color:white;' class=' nav-link active' href="">MyInfo</a></li>
                    <li class="nav-item"><a style = 'color:white;' class=' nav-link active' href="">Myblog</a></li>
                    <li class="nav-item"><a style = 'color:white;' class=' nav-link active' href="">Draft</a></li>
                    <li class="nav-item"><a style = 'color:white;' class=' nav-link active' href="">Logout</a></li>
                    
                    </ul>
                {%else%}
                    <ul class="navbar-nav navbar-right">
                    <li class="nav-item"><a style = 'color:white;'class=' nav-link active' href="{%url 'basicapp:register'%}">Register</a></li>
                    <li class="nav-item"><a style = 'color:white;'class=' nav-link active' href="{%url 'basicapp:login'%}">Login</a></li>
                    </ul>

                {%endif%}


                
            </div>


        </nav>

      
    
        {%block body_block%}

        {%endblock%}
        

    </body>



</html>