{%extends "./base.html"%}
{%load bootstrap4%}
{%block title%}
<title>deleteshare</title>

{%endblock%}

{%block body_block%}
<form action='{% url 'basicapp:deleteshare' object.id %}' method="post">{% csrf_token %}
    <p class = 'text-white'>Are you sure you want to delete "Share #{{ object.id }}"?</p>
    {{ form }}
    <input type="submit"  class="btn btn-info" value="Confirm">
    <a href="{% url 'basicapp:rides' pk=user.pk%}">
        <button type="button" class="btn btn-info">No</button>
    </a>
</form>
{%endblock%}