{%extends "./base.html"%}
{%load bootstrap4%}
{%block title%}
    Register Account
{%endblock%}

{%block body_block%}
<br>
    <div class = "container" align = "center">
    <h1 style="color:aliceblue"> Register Your Account Now!</h1>
    </div>
<br>

<form method = "POST">
    {%csrf_token%}
    <div style="color:aliceblue;font-size: x-large;" class="container-fluid"> {%bootstrap_form form%}</div>
    <br>
    <div align="center"> <input type="submit" class='btn btn-primary' style="background-color: lightblue; color:black" value="Register">
    </div>
   
</form>


{%endblock%}
