{%extends "./base.html"%}
{%load bootstrap4%}
{%block title%}
<title>MyRides</title>

{%endblock%}

{%block body_block%}

<p><br></p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <h5 style="color:blanchedalmond">Your Rides</h5>
                <div class="card border-success" style="width: 20rem;">
                    <div style="width: 20rem;">
                        {% for object in open_ride_list %}
                        {% if object.status != "cp" %}
                        <div class="card-body bg-white">
                            <h5 class="card-title">YourRide ID: {{ object.ride_id }}</h5>
                            <p class="card-text">
                                {% if object.status == "op" %}
                                <span class="badge bg-success text-white">open</span>
                                {% else %}
                                <span class="badge bg-warning text-white">confirmed</span>
                                {% endif %}
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="badge bg-info text-white">destination: {{object.dest_addr }}</span></li>
                                <li class="list-group-item"><span class="badge bg-info text-white">arrivaltime: {{object.arr_date_time }}</span></li>
                                <li class="list-group-item"><span class="badge bg-info text-white">partynumber: {{object.party_num }}</span></li>
                            </ul>
                            {% if object.status == "op" %}
                            <a href="{%url 'basicapp:editride' pk=object.pk %}" class="card-link">edit</a>
                            <a href="{%url 'basicapp:deleteride' pk=object.pk %}" class="card-link">delete</a>
                            {% endif %}
                            <a href="{%url 'basicapp:rideinfo' pk=object.ride_id %}" class="card-link">details</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container">
                <h5 style="color:blanchedalmond">Your Shares</h5>
                <div class="card border-success" style="width: 20rem;">
                    <div style="width: 20rem;">
                        {% for object in share_ride_list %}
                        <div class="card-body bg-white">
                            <h5 class="card-title">ShareRide ID: {{ object.ride_id }}</h5>
                            <p class="card-text">
                                {% if object.status == "op" %}
                                <span class="badge bg-success text-white">open</span>
                                {% else %}
                                <span class="badge bg-warning text-white">confirmed</span>
                                {% endif %}
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="badge bg-info text-white">owner: {{object.email }}</span></li>
                                <li class="list-group-item"><span class="badge bg-info text-white">ownerpartynumber: {{object.party_num }}</span></li>
                                <li class="list-group-item"><span class="badge bg-info text-white">mypartynumber: {{object.share_party_num }}</span></li>
                                <li class="list-group-item"><span class="badge bg-info text-white">destination: {{object.dest_addr }}</span></li>
                            </ul>
                            {% if object.status == "op" %}
                            <a href="{%url 'basicapp:deleteshare' pk=object.id %}" class="card-link">cancel</a>
                            {% endif %}
                            <a href="{%url 'basicapp:sharerideinfo' pk=object.ride_id %}" class="card-link">details</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container">
                <h5 style="color:blanchedalmond">Your Drives</h5>
                <div class="card border-success" style="width: 20rem;">
                    <div style="width: 20rem;">
                        {% if is_driver %}
                        {% if drive_ride_list %}
                        {% for object in drive_ride_list %}
                        {% if object.status == 'cf' %}
                        <div class="card-body bg-white">
                            <h5 class="card-title">DriveRide ID: {{ object.ride_id }}</h5>
                            <p class="card-text">
                                <span class="badge bg-info text-white">{{ object.arr_date_time }}</span>
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="badge bg-info text-white">destination: {{ object.dest_addr }}</span></li>
                                <li class="list-group-item"><span class="badge bg-info text-white">owner: {{ object.owner }}</span></li>
                            </ul>
                            <a href="{% url 'basicapp:driveinfo' pk=object.ride_id %}" class="card-link">details</a>
                            <a href="{% url 'basicapp:completedrive' pk=object.ride_id %}" class="card-link">complete</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h5 class="card-title">You don't have a drive order!</h5>
                        <a href="{% url 'basicapp:todrive' pk=user.pk %}">
                            <button type="button" class="btn btn-info">Claim a drive!</button>
                        </a>
                        {% endif %}
                        {% else %}
                        <h5 class="card-title">You are not a driver!</h5>
                        <a href="{%url 'basicapp:updateinfo' pk=user.pk %}">
                            <button type="button" class="btn btn-info">Be a driver!</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}