{%extends "./base.html"%}
{%load bootstrap4%}
{%block title%}
<title>MyRides</title>

{%endblock%}

{%block body_block%}

<p><br></p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-success" style="width: 30rem;">
                <div style="width: 30rem;">
                    {% for object in open_ride_list %}
                    {% if object.status != "cp" %}
                    <div class="card-body bg-white">
                        <h5 class="card-title">OpenRide ID: {{ object.ride_id }}</h5>
                        <p class="card-text">
                            {% if object.status == "op" %}
                            <span class="badge bg-info text-white">open</span>
                            {% else %}
                            <span class="badge bg-info text-white">confirmed</span>
                            {% endif %}
                            <span class="badge bg-info text-white">{{ object.arr_date_time }}</span>
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">destination: {{ object.dest_addr }}</li>
                            <li class="list-group-item">arrivaltime: {{ object.arr_date_time }}</li>
                        </ul>
                        {% if object.status == "confirmed" %}
                        <a href="#" class="card-link">edit</a>
                        {% endif %}
                        <a href="#" class="card-link">details</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-success" style="width: 30rem;">
                <div style="width: 30rem;">
                    {% for object in share_ride_list %}
                    <div class="card-body bg-white">
                        <h5 class="card-title">ShareRide ID: {{ object.ride_id }}</h5>
                        <p class="card-text">
                            <span class="badge bg-info text-white">{{ object.arr_date_time }}</span>
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">partynumber: {{ object.party_num }}</li>
                            <li class="list-group-item">destination: {{ object.dest_addr }}</li>
                            <li class="list-group-item">arrivaltime: {{ object.arr_date_time }}</li>
                        </ul>
                        <a href="#" class="card-link">edit</a>
                        <a href="#" class="card-link">details</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-success" style="width: 30rem;">
                <div style="width: 30rem;">
                    {% for object in open_ride_list %}
                    <div class="card-body bg-white">
                        <h5 class="card-title">DriveRide ID: {{ object.ride_id }}</h5>
                        <p class="card-text">
                            <span class="badge bg-info text-white">{{ object.arr_date_time }}</span>
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">partynumber: {{ object.party_num }}</li>
                            <li class="list-group-item">destination: {{ object.dest_addr }}</li>
                            <li class="list-group-item">arrivaltime: {{ object.arr_date_time }}</li>
                        </ul>
                        <a href="#" class="card-link">edit</a>
                        <a href="#" class="card-link">details</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}